In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/train.csv

In [2]:
data_train=pd.read_csv("/kaggle/input/titanic/train.csv")
data_test=pd.read_csv("/kaggle/input/titanic/test.csv")
data_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
y_train=data_train["Survived"]
# y_test=data_test["Survived"]
features=["Pclass","SibSp","Sex","Parch"]
x_train=pd.get_dummies(data_train[features])
x_test=pd.get_dummies(data_test[features])
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=20,random_state=3,max_depth=5)
clf.fit(x_train,y_train)
# print("Training_result:\n{:.2f}".format(clf.score(x_train,y_train)))
# print("Testing_result:\n{:.2f}".format(clf.score(x_test,y_test)))

RandomForestClassifier(max_depth=5, n_estimators=20, random_state=3)

In [4]:
predictions=clf.predict(x_test)
output=pd.DataFrame({'PassengerId': data_test.PassengerId, 'Survived': predictions})
output.to_csv('mysubmission.csv',index=False)
print("Your submission successful\n")

Your submission successful